.container {
  width: 576px;
  height: 718px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  width: 384px;
  height: 48px;
  border: none;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  position: relative;
}
.head h2 {
  margin-top: 5px;
  color: #44546f;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
}
.head .fa-xmark {
  color: #44546f;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
}
.head .fa-xmark:hover {
  transform: scale(1.1);
}
.head .fa-xmark:active {
  transform: scale(0.9);
}
.body {
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 4px 0 #00000040;
  width: 384px;
  height: auto;
  background-color: white;
}
.body .title1 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  left: 12px;
  color: #44546f;
}
.body .text {
  width: 352px;
  height: 36px;
  position: absolute;
  top: 40px;
  left: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #8590a2;
  border: none;
  border-radius: 3px;
}
.body p {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #44546f;
  position: absolute;
  top: 84px;
  left: 12px;
}
.body .title2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: 119px;
  left: 12px;
  width: 69px;
  height: 16px;
  color: #44546f;
}
.body .status {
  width: 352px;
  height: 72px;
  position: absolute;
  top: 143px;
  left: 12px;
  display: flex;
  flex-direction: column;
}
.body .status span {
  font-weight: 400;
  font-style: 14px;
  line-height: 20px;
  color: #172b4d;
  width: 304px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 48px;
}
.body .status .statusText2 {
  top: 40px;
}
.body .status input {
  position: absolute;
  top: 12px;
  left: 8px;
}
.body .status .checkbox2 {
  top: 44px;
}
.body .title3 {
  width: 54px;
  height: 16px;
  position: absolute;
  top: 231px;
  left: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #44546f;
}
.body .date {
  width: 352px;
  height: 120px;
  position: absolute;
  top: 255px;
  left: 12px;
  display: flex;
  flex-direction: column;
}
.body .date .checkbox1 {
  position: absolute;
  top: 15px;
  left: 5px;
}
.body .date .checkbox2 {
  position: absolute;
  left: 5px;
  top: 53px;
}
.body .date .checkbox3 {
  position: absolute;
  left: 5px;
  top: 93px;
}
.body .date span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #44546f;
  position: absolute;
  top: 10px;
  left: 72px;
}
.body .date .dateText2 {
  top: 50px;
}
.body .date .dateText3 {
  top: 90px;
}
.body .date .fa-solid {
  width: 24px;
  height: 24px;
  background-color: #091e420f;
  margin-top: -5px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  position: absolute;
  top: 13px;
  left: 40px;
}
.body .date .item1 {
  background-color: #c9372c;
}
.body .date .item2 {
  background-color: #f5cd47;
}
.body .date .clock1 {
  position: absolute;
  color: #ffffff;
  top: 40px;
}
.body .date .clock2 {
  position: absolute;
  color: #ffffff;
  top: 80px;
}

.body .title4 {
  width: 39px;
  height: 16px;
  position: absolute;
  top: 391px;
  left: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #44546f;
}
.body .labels .checkbox {
  margin-left: -19px;
  margin-top: 7px;
}
.body .labels {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 352px;
  min-height: 10px;

  margin-top: 420px;
  margin-left: 7px;
  margin-bottom: 20px;
}
.body .labels .checkbox1 {
  margin-left: -326px;
}

.body .labels .fa-solid {
  width: 24px;
  height: 24px;
  background-color: #091e420f;
  margin-top: -5px;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #626f86;
  position: absolute;
  top: 4px;
  left: 40px;
}
.body .labels span {
  font-weight: 400;
  font-style: 14px;
  line-height: 20;
  color: #44546f;
  position: absolute;
  top: -130px;
  left: 70px;
}
.body .labels select {
  position: absolute;
  top: 140px;
  left: 40px;
  border: none;
  padding-right: 200px;
}
.body .labels .label {
  width: 312px;
  height: 30px;
  background-color: #f5cd47;
  margin-left: 25px;
  border-radius: 3px;
}
.body .labels .label2 {
}
.body .labels .label3 {
}
