.container {
  width: 1440px;
  height: 670px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
h1{
  color:#626f86 ;
  font-size: 40px;
}
.button{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
button{
  background-color: #0C66E4;
  width: 300px;
  height: 60px;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: white;
}
@media screen and (max-width:576px) {
  .container {
  width: 576px;
  height: 670px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
  button{
  background-color: #0C66E4;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: white;
  }
}